.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
}

.variant {
  width: max-content;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px var(--stroke-dark);
}

.variant__selected {
  background-color: var(--bg-secondary);
}
