.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.variant {
  width: max-content;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-lg);
  border: var(--button-border);
  background-color: var(--bg-secondary);
  color: initial;
  cursor: pointer;
  margin: 0 0.25rem 0.35rem 0;
}

.variant__selected {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.variant.variant__asTabs {
  width: 100%;
  margin: 0;
}

.container.container_withTabs {
  display: grid;
  grid-auto-flow: column;
  gap: 0.35rem;
}
