.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.variant {
  width: max-content;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px var(--stroke-dark);
  margin: 0 0.25rem 0.35rem 0;
}

.variant__selected {
  background-color: var(--bg-secondary);
}

.variant.variant__asTabs {
  width: 100%;
  margin: 0;
}

.container.container_withTabs {
  display: grid;
  grid-auto-flow: column;
  gap: 0.35rem;
}
