*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.main-header {
  margin-bottom: 1.25rem;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.main-menu-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.main-menu-actions__header {
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(3, 3, 192);
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.main-menu-actions__actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.5rem;
}

.main-menu-actions__button {
  min-width: 160px;
  padding: 0.75rem 0;
  background-color: rgb(96, 96, 248);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.main-menu-actions__button:hover {
  background-color: rgb(88, 88, 226);
}
