.container {
  display: flex;
  flex-direction: column;
}

.newsInfo {
  margin-bottom: 1.5rem;
}

.theme {
  font-size: var(--text-2xl);
  font-weight: 600;
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
}

.time {
  font-size: var(--text-base);
}

.newsContent {
  max-width: 100%;
}

.newsContent img {
  max-width: 100%;
  object-fit: contain;
}
