.container {
  border: var(--border-secondary);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: max-content;
}

.subject {
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--bg-secondary);
  padding: 0.5rem;
  font-size: var(--text-sm);
}

.elementsContainer {
  background-color: var(--bg-quinary);
}

.cardElement {
  padding: 0.5rem;
  font-size: var(--text-sm);
  color: var(--text-secondary);
}

.cardRow {
  display: flex;
  align-items: center;
}

.cardCell {
  width: 100%;
}

.cardRow > .cardCell:not(:last-child) {
  border-right: var(--border-secondary);
}

.elementsContainer > .cardElement:not(:last-child),
.elementsContainer > .cardRow:not(:last-child) {
  border-bottom: var(--border-secondary);
}

.cardGhost.container {
  border: none;
}

.cardGhost .subject {
  background-color: transparent;
}

.cardGhost .elementsContainer,
.cardGhost .cardElement,
.cardGhost .cardRow,
.cardGhost .cardCell {
  background-color: transparent;
  border: none !important;
}
