.scheduleGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
  padding-top: 1rem;
  position: relative;
}

.scheduleGrid::before {
  content: "";
  position: absolute;
  inset: 0 0 auto 0;
  height: 1px;
  background-color: lightgray;
}

.noElements {
  text-align: center;
  font-size: 1.125rem;
}
