.container {
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0 0 auto 0;
  height: 1px;
  background-color: lightgray;
}

.scheduleGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.entry {
  margin-top: 1.5rem;
}

.entry p {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.noElements {
  text-align: center;
  font-size: 1.125rem;
}

.scheduleDate {
  background-color: #dbdffd;
  padding: 0.25rem;
  border-radius: 12px;
  text-align: center;
}
