*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--bg-secondary);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

:root {
  color-scheme: var(--tg-color-scheme);
  --bg-primary: var(--tg-theme-bg-color);
  --bg-secondary: var(--tg-theme-secondary-bg-color);
  --bg-tertiary: rgb(255, 182, 0);
  --bg-error: rgb(234, 67, 53);
  /* TODO: fix */
  --bg-disabled: color-mix(
    in srgb,
    var(--tg-theme-secondary-bg-color),
    transparent 23.9%
  );

  --button-bg: var(--tg-theme-button-color, var(--bg-primary));
  --button-text: var(--tg-theme-button-text-color);
  --button-border: 1px solid var(--button-bg);

  --link-color: var(--tg-theme-link-color);

  --stroke-primary: var(--tg-theme-bg-color);
  --stroke-secondary: var(--tg-theme-secondary-bg-color);

  --border-primary: 1px solid var(--stroke-primary);
  --border-secondary: 1px solid var(--stroke-secondary);

  --border-radius-xs: 3px;
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --border-radius-lg: 20px;
  --border-radius-full: 100%;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.main-container > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
